.nominate-icon {
  display: flex;
  padding: 1rem;
  border-style: solid;
  border-color: #dbdae3;
  border-width: 1px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.nominate-button {
  display: flex;
  border-style: none;
  background: none;
}
