.results-container {
  display: flex;
  flex-direction: column;
}

.results-container__title {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 2rem;
}

.results-container__list {
    display: flex;
    flex-direction: column;
}

.results-container__query {
  display: flex;
  font-weight: 600;
}
