.result-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 0;
}

.result-container_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.result-container__title {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.result-container__year {
  font-size: 1.5rem;
}

.result-container_image {
  display: flex;
  flex-direction: column;
  width: 5rem;
  margin-right: 1rem;
}

.result-container_poster {
  display: flex;
}

.result-container_nominate-icon {
  display: flex;
  padding: 1rem;
  margin: 0.5rem 0;
  border-style: solid;
  border-color: #dbdae3;
  border-width: 1px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
