.search-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 90%;
  justify-content: flex-start;
}

.search-container__header {
  font-size: 1rem;
  padding: 1rem 0;
  color: black;
  text-align: left;
}

.search-container__search-label {
  position: relative;
  width: 100%;
}

#search-container__search-input {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  box-sizing: border-box;
  outline: none;
}
