.nominations-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;

  &__header {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-family: "QanelasSoftExtraBold";
    font-size: 2rem;
    font-weight: 600;
    border-top: solid 2px;
    border-color: #888888;
    color: #363636;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
