.search-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  justify-content: flex-start;

  &__header {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-family: "QanelasSoftExtraBold";
    font-size: 2rem;
    font-weight: 600;
  }

  &__search-label {
    position: relative;
    width: 100%;
  }

  &__search-input {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  box-sizing: border-box;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}

&__search-input:focus {
  border: 2px solid black;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
}
