body {
  font-family: "QanelasSoftUltraLight";
  color: #525252;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem 0;
}

.result-container__movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.result-container_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  padding-left: 0.5rem;
}

.result-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.result-container__year {
  font-size: 1.5rem;
}

.result-container_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result-container_poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10rem;
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: black;
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.results-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results-container__query {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search-container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-family: "QanelasSoftExtraBold";
  font-size: 2rem;
  font-weight: 600;
  color: #363636;
}

.search-container__search-label {
  position: relative;
  width: 100%;
}

.search-container__search-input {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}

.search-container__search-input:focus {
  border: 2px solid black;
}

/* Large devices (laptops/desktops, 992px and up) */
.nominate-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  height: 2.5rem;
  font-size: 2rem;
  background: none;
}

.nominate-button:focus {
  color: red;
}

.nominations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}

.nominations-container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-family: "QanelasSoftExtraBold";
  font-size: 2rem;
  font-weight: 600;
  border-top: solid 2px;
  border-color: #888888;
  color: #363636;
}

.nominations-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.remove-nomination-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "QanelasSoftExtraBold";
  src: local("QanelasSoftExtraBold"), url("../fonts/QanelasSoftDEMO-ExtraBold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "QanelasSoftUltraLight";
  src: local("QanelasSoftUltraLight"), url("../fonts/QanelasSoftDEMO-UltraLight.otf") format("truetype");
  font-weight: light;
}
/*# sourceMappingURL=main.css.map */